{
    "$schema": "https://infection.github.io/schema.json",
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "src/JsonSerializableReturnTypeTraitPhp81.php"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "staticAnalysisTool": "phpstan"
}
