parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        # false-postive?
        - '#Arrayy\\Collection\\AbstractCollection<mixed, mixed>#'
        # not supported
        - '#bound type \(int\|string\) is not supported#'
        - '# callable\(\): mixed, array#'
        # ignore
        - '#Unsafe usage of new static\(\)\.#'
