parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '/Parameter #1 \$function of function call_user_func_array expects callable\(\): mixed, array\(Stringy\\Stringy, string\) given\./'
        - '/Method Stringy\\Stringy::(lines|split)\(\) should return array<static\(Stringy\\Stringy\)> but returns array<string>\./'
        - '/Call to function is_array\(\) with \(iterable\<string\|Stringy\\Stringy\>&Stringy\\Stringy\)\|string will always evaluate to false\./'
