parameters:
    level: 8
    paths:
        - %currentWorkingDirectory%/src/
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # false-positive?
        - '#Arrayy\\Collection\\AbstractCollection<int, Stringy\\Stringy>#'
        # not supported
        - '#bound type \(int\|string\) is not supported#'
        - '# callable\(\): mixed, array#'
        # ignore
        - '#Unsafe usage of new static\(\)\.#'
