<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <exclude>
      <!-- Loaded conditionally by JsonSerializableReturnTypeTrait.php on PHP 8.1+;
           including it unconditionally here would re-declare the trait on PHP < 8.1. -->
      <file>./src/JsonSerializableReturnTypeTraitPhp81.php</file>
    </exclude>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuite name="Stringy">
    <directory>tests</directory>
  </testsuite>
</phpunit>
